@keyframes line{
    0%{
        translate: 0 0;
    }
    25%{
        background-color: green;
    }
    50%{
        translate:-200px 0 ;
        background-color: rgb(42, 42, 42);
    }
    75%{
        background-color: green;
    }
    100%{
        translate: 0 0;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(IMG-20230322-WA0014.jpg);
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100vw;
}
.signup{
    padding: 13px;
    font-size: 20px;
    border-radius: 11px;
    border: none;
    background-color: rgb(42, 42, 42);
    color: bisque;
    margin-left:12px;
    transition: all 0.1s;
}
.login{
    padding: 13px;
    font-size: 20px;
    border-radius: 11px;
    border: none;
    background-color: rgb(42, 42, 42);
    color: bisque;
    margin-left:12px;
    transition: all 0.1s;
}
h1{
    font-size:50px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 30px;
    translate: -90px; 
}
.line{
    background: rgb(3, 41, 255);
    padding-block:2px ;
    animation: line 6s infinite ease-in-out;
    border-radius: 3px;
    
}
.login:hover{
    transform: scale(1.05);
}
.signup:hover{
    transform: scale(1.05);
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 220px;
}
.buttons{
    padding: 25px;
    border-radius: 20px;
    font-size: 50px;
    padding-inline: 100px;
    background-color:inherit;
    color: rgb(17, 255, 0);
    transition: all 0.5s;
}
.e:hover{
    transform: scale(1.05);
}
.d:hover{
    transform: scale(1.05);
}
.j:hover{
    transform: scale(1.05);
}
.navicon{
    padding: 5px;
    margin-right: 20px;
    border: none;
    background: none;
    color: white;

}
.navbar .login i{
    margin-right: 4px;
}
.navicon{
    padding: 10px;
    padding-block: 17px;
    border-radius: 7px;
    color:  rgb(42, 42, 42);
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    transition: all 0.1s;
}
.navicon:hover{
    transform: scale(1.05);
}
